<!DOCTYPE html>
<html>
  <% include ../partials/header %>
  <body>
    <div class="container text-center">
      <h1 class="title"><b>About</b></h1>
      <p>
        Weather forecast data from <a href="https://data.gov.sg/">Data gov sg</a>
      </p>
      <p>
        Register in the website to get the request token.
        <br/>
        Then replace the empty "token" in controllers/weather/sg-weather-config.js
      </p>
      <p>
        Technologies: NodeJS, ExpressJS, EJS, Axios, Bootstrap
      </p>
      <p>
        <a href="https://github.com/hawjeh/NodeJS-SGWeatherForecast">Github repo</a>
      </p>
      <p>
        By Haw Jeh (hawjeh@gmail.com)
      </p>
    <% include ../partials/footer %>
  </body>

</html>
